<% activities.group(:start).each do |activity| %>
  <tr>
    <th scope="row"><%= activity.start_at %></th>
    <% activities.group(:date).each do |act| %>
      <td>
        <% acts = activities.where(start: activity.start, date: act.date) %>
        <% acts.each do |a| %>
          <%= "#{a.name}" %>
          <%= link_to edit_activity_path(a.id) do %>
            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
          <% end %>
          <%= link_to activity_path(a.id), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end%>
          <br>
          <%= a.responsible.name %>
          <%= link_to alarms_path(activity_id: a.id), class: "btn btn-outline-primary btn-sm" do %>
            <i class="fa fa-bell"> <%= a.alarms.count %></i>
          <% end %>
          <% render "alarms/alarms", alarms: a.alarms, activity_id: a.id, responsible_id: a.responsible.id %>
          <br>
        <% end %>
        <div class="btn-group full-width">
          <% link_to "New Activity", new_activity_path(activity: {start: activity.start, date: act.date}), class: "btn btn-outline-primary full-width" %>
        </div>
      </td>
    <% end %>
  </tr>
<% end %>

<tr>
</tr>
