<% if false && days <= Activity::DAYS_FOR_FULL_SCHEDULE %>
  <thead class="thead-inverse">
    <tr>
      <th>Hour</th>
      <% days.times do |offset| %>
        <th>
          <%= "#{(first_day + offset).strftime("%a")} #{(first_day + offset).day}" %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% hours.times do |offset|  %>
      <tr>
        <th scope="row"><%= first_hour + offset %></th>
        <% days.times do |day_offset| %>
          <td>
            <% acts = activities.where(start_hour: first_hour+offset, date: first_day+day_offset) %>
            <% acts.each do |a| %>
              <%= render "activity_cell", activity: a, start_time: first_hour + offset, date: first_day + day_offset %>
            <% end%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
<% elsif @only_created_activities  %>
  <thead class="thead-inverse">
    <tr>
      <th>Hour</th>
      <% activities.group_by(&:date).each do |activity| %>
        <th><%= "#{activity.first.strftime("%a")} #{activity.first.day}" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% activities.group_by(&:start_hour).each do |start_time| %>
      <tr>
        <th scope="row"><%= start_time.first %></th>
        <% activities.group_by(&:date).each do |dates| %>
          <td>
            <% acts = activities.where(start_hour: start_time.first, date: dates.first) %>
            <% acts.each do |a| %>
              <%= "#{a.name}" %>
              <%= link_to edit_activity_path(a.id) do %>
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
              <% end %>
              <%= link_to activity_path(a.id), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end%>
              <br>
              <%= a.responsible.name %>
              <%= link_to alarms_path(activity_id: a.id), class: "btn btn-outline-primary btn-sm" do %>
                <i class="fa fa-bell"> <%= a.alarms.count %></i>
              <% end %>
              <% render "alarms/alarms", alarms: a.alarms, activity_id: a.id, responsible_id: a.responsible.id %>
              <br>
            <% end %>
            <div class="btn-group full-width">
              <% link_to "New Activity", new_activity_path(activity: {start_hour: start_time.first, date: dates.first}), class: "btn btn-outline-primary full-width" %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
<% else %>
  <thead class="thead-inverse">
    <tr>
      <th>Hour</th>
      <% (Date.today.at_beginning_of_week..Date.today.at_end_of_week).each do |date| %>
        <th <%= "class=past-activity" if date < Date.today  %>>
          <%= "#{date.strftime("%a")} #{date.day}" %>
          <%= link_to delete_day_activities_path(year: date.year, month: date.month, day: date.day) do %>
            <i class="fa fa-trash" aria-hidden="true" ></i>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (first_hour..last_hour).each do |start_time| %>
      <tr>
        <th scope="row"><%= start_time %></th>
        <% (Date.today.at_beginning_of_week..Date.today.at_end_of_week).each do |date| %>
          <td <%= "class=past-activity" if date < Date.today %>>
            <% acts = activities.where(start_hour: start_time, date: date) %>
            <% if date < Date.today %>
              <%= render "past_activities", activities: acts %>
            <% else %>
              <%= render "activity_within_schedule", activities: acts %>
              <%= link_to new_activity_path(activity: {start_hour: start_time, date: date}), class: "btn btn-outline-primary" do %>
                <i class="fa fa-plus" aria-hidden="true"></i>
              <% end %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
<% end %>
