<div class="row">
  <div class="col-md-12">
    <h2>New activity</h2>
    <%= form_for activity, url: {action: action} do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= f.date_field :date, placeholder: "Date" %>
      </div>
      <div class="form-group">
        <%= f.text_field :start_hour, placeholder: "Start at" %>
      </div>
      <div class="form-group">
        <%= f.text_field :end_hour, placeholder: "End at" %>
      </div>
      <div class="form-group">
        <%= f.select :responsible_id, responsibles.map{|r| [r.name, r.id]}, {}, {class: "selectize"} %>
      </div>
      <div class="form-group">
        <%= f.label :confirmed %>
        <%= f.check_box :confirmed, checked: true %>
      </div>
      <div class="form-group">
        <%= f.submit "#{action}" %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade responsible-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New responsible</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Responsible.new do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <!-- div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div -->
    </div>
  </div>
</div>
