<div class="container-fluid">
  <!-- div class="row">
    <div class="col-md-12">
      <h1> Activities </h1>
    </div>
  </div -->

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered table-sm table-responsive">
        <thead class="thead-inverse">
          <tr>
            <% unless @activities.empty? %>
              <th>Hour</th>
              <% @activities.group_by(&:date).each do |activity| %>
                <th><%= "#{activity.first.strftime("%A")} #{activity.first.day}" %></th>
              <% end %>
            <% end %>
            <tbody>
              <%= render "activities_schedule", activities: @activities %>
            </tbody>
          </tr>
        </thead>
      </table>
    </div>
  </div>

<% if false #old view%>
  <div class="row">
    <div class="col-md-12">
      <table class="activities-table table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Responsible</th>
            <th>Alarms</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render @activities %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
  <div class="row">
    <div class="col-md-6">
      <%= render "form", activity: @activity, action: "create", responsibles: @responsibles %>
    </div>
    <div class="col-md-6">
      <%= render "alarms/bulk_add" %>
      <%= render "alarms/bulk_remove" %>
    </div>
</div>
