<!DOCTYPE html>
<html>
<head>
  <title>Reemplazos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/79dc622fe7.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% render 'layouts/navbar' %>
	<%= flash_messages %>
  <%= yield %>
</body>
</html>
